.Edit-Profile {
    color: #000c81;
    font-family: "Viga", Arial, Tahoma, sans-serif;
    font-style: normal;
    font-size: 35px;
}

.edit-lab{
    font-family: "Poppins", Arial, Tahoma, sans-serif;
    font-size: 15px;
    color: #000c81;
}