.Available-Courses {
    color: #000c81;
    font-family: "Viga", Arial, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
}
.category{
    color: #000c81;
    font-family: "Viga", Arial, Tahoma, sans-serif;
}
.tabledata{
    font-family: 'Kanit', sans-serif;

}